<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Integrales Definidas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-5 text-center">Calculadora de Integrales Definidas</h1>

        <form method="POST" action="/calculate">
            <div class="form-group">
                <label for="function">Ingrese la función (por ejemplo, x^2 + 2*x):</label>
                <input type="text" class="form-control" id="function" name="function" required>
            </div>

            <div class="form-group">
                <label for="a">Límite inferior (a):</label>
                <input type="number" class="form-control" id="a" name="a" required>
            </div>

            <div class="form-group">
                <label for="b">Límite superior (b):</label>
                <input type="number" class="form-control" id="b" name="b" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Calcular</button>
        </form>

        {% if integral_result %}
        <h2 class="my-5">Resultado de la integral:</h2>
        <p class="lead">El valor de la integral definida es: {{ integral_result }}</p>
        <h3>Gráfico de la función:</h3>
        <img src="data:image/png;base64,{{ img_data }}" alt="Gráfico de la función" class="img-fluid">
        {% endif %}
    </div>
</body>
</html>
